.tree-icon {
  display: inline-block;
  font-size: inherit;
  height: 14px;
  overflow: visible;
  vertical-align: -2px;
  margin-left: 5px;
}

.branch-node-group-item {
  line-height: 20px;
  border: 0;
  border-radius: 0px !important;
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
  padding-top: 1px;
}
.branch-node-group-item:first-child {
  padding-top: 2px;
}
.flowTreeHeader {
  background-color: #263a4a !important;
}

.flowTreeHeader > .navbar-brand {
  color: whitesmoke;
}

.flowNode {
  width: 100%;
  height: 20px;
  display: inline-block;
}

.flowNode-node {
  user-select: none;
  cursor: pointer;
  line-height: 24px;
}

.flowNode-link {
  user-select: none;
  cursor: pointer;
  line-height: 24px;
}

.flowNode-descriptor {
  display: flex;
  white-space: nowrap;
}

.flowNode-icon {
  cursor: pointer;
  display: inline-block;
  text-align: right;
  height: 100%;
  user-select: none;
  padding-right: 5px;
  /*margin-left: 5px;*/
}

.flowNode-carret-icon {
  cursor: pointer;
  display: inline-block;
  text-align: right;
  height: 100%;
  user-select: none;
}

.flowNode-node-text {
  font-weight: normal;
  display: inline-block;
  height: 100%;
  user-select: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: .85rem;
}

.flowNode-script-text {
  user-select: none;
  cursor: pointer;
  font-weight: bolder;
  display: inline-block;
  height: 100%;
  user-select: none;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.list-group-item-success {
  background-color: initial;
}
.list-group-item-success > .flowNode-node > .flowNode-branch {
  color: #0d594a !important;
  background-color: #dde6ee;
}
.list-group-item-success > .flowNode-node > .flowNode-descriptor:not(.flowNode-branch),
.list-group-item-success > .flowNode-link > .flowNode-descriptor:not(.flowNode-branch)  {
  background-color: #dde6ee;
}


.flowNode-link > .flowNode-descriptor > .flowNode-icon  {
  text-align: center;
  padding-right: 10px;
}

.flowTreeHeader .btn {
  box-shadow: initial;
}

.flowTreeHeader .navbar-brand * {
  margin-bottom: 0px;
}

.breadcrumb.pathcrumb {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  border-radius: 0;
  font-size: smaller;
  background-color: #abc1d4;
}

.btn-add-node {
  background-color: #eeae65;
}

.pathcrumb .breadcrumb-item+.breadcrumb-item {
  padding-left: 1px !important;
  font-family: Consolas;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
}

.pathcrumb .breadcrumb-item+.breadcrumb-item::before {
  padding-right: 1px !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}