.flowTree {
    border: 1px solid #EBEDEF;   
    padding: 10px;
}

.flowTreeLog  {
    border: 1px solid #EBEDEF;   
    padding: 10px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 1em;
    background: hsl(240, 30%, 98%)
}