.flowEditorHeader {
    padding: 0;
    background-color: #0e7964;
}

.flowEditorHeader > .navbar-light .navbar-brand,
.flowEditorHeader > .navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
}


